RewriteEngine On

RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteCond %{THE_REQUEST} \s/+public/index\.html[\s?] [NC]
RewriteRule ^index\.html$ / [R=301,L]

RewriteCond %{THE_REQUEST} \s/+public/registro\.html[\s?] [NC]
RewriteRule ^registro\.html$ /registro [R=301,L]

RewriteCond %{THE_REQUEST} \s/+public/confirmacion\.html[\s?] [NC]
RewriteRule ^confirmacion\.html$ /confirmacion [R=301,L]

RewriteCond %{THE_REQUEST} \s/+public/admin\.html[\s?] [NC]
RewriteRule ^admin\.html$ /admin [R=301,L]

RewriteCond %{THE_REQUEST} \s/+public/tallerista\.html[\s?] [NC]
RewriteRule ^tallerista\.html$ /tallerista [R=301,L]

RewriteCond %{THE_REQUEST} \s/+public/validador\.html[\s?] [NC]
RewriteRule ^validador\.html$ /validador [R=301,L]
